appdirs==1.4.3
chardet==3.0.4
cupshelpers==1.0
gufw==17.10.0
idna==2.6
lensfun==0.3.2
lightdm-gtk-greeter-settings==1.2.1
louis==3.3.0
npyscreen==4.10.5
numpy==1.13.3
opencv-python==3.3.0.10
packaging==16.8
pacman-mirrors==4.2.3
pycairo==1.13.3
pycups==1.9.73
pycurl==7.43.0
pygobject==3.24.1
pyparsing==2.2.0
python-libtorrent==1.1.4
pyxdg==0.25
ranger==1.8.1
rawpy==0.10.1
requests==2.18.4
six==1.11.0
speedtest-cli==1.0.6
team==1.0
urllib3==1.26.5
